// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #f4f4f4;
$featureBackgroundColour: #eeeeee;
$accentColour: #05bf85;

// Text colours
$headingColour: #333333;
$bodyColour: #555555;
$linkColour: #05bf85;
$hoverColour: #008000;
$focusColour: #fa407a;
$captionColour: #aaaaaa;
$white: #ffffff;

@font-face{font-family:'kakaoRegular'; src:url('../assets/fonts/kakaoRegular.woff')}

// Typography
$bodytype: (
  font-family: 'kakaoRegular',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.55
);

$headingtype: (
  font-family: '"kakaoRegular"',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'kakaoRegular, Menlo, monospace',
<<<<<<< HEAD
  regular: 300,
  cap-height: 0.68
=======
  regular: 400,
  cap-height: 0.55
>>>>>>> b6f5115c64d0a4d2e7f0c971622b863e4447895a
);

// Font import, if you're using a non-standard web font
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
